.HamburgerMenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 120px;
  right: 0;
  padding: 10px;
  box-shadow: 0 0 15px 6px $primary-color-alpha;
  border-radius: 4px;
  width: 150px;
  color: $white;
  background-color: transparent;
  backdrop-filter: blur(10px) invert(40%);

  .hamburgerMenuList {
    @include flex-container(column, space-around, center, 50px);
    // width: 100%;
    padding: 0;
    list-style: none;

    li {
      color: $white;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $white;
      }
    }
  }
}

.show {
  display: none;
}

@include min-tablet {
  .HamburgerMenu {
    display: none;
  }
}
