@import "../../styles/variables";
@import "../../styles/mixins";

.Card {
  @include flex-container(column, flex-start, center);
  position: relative;
  box-shadow: 0 0 15px 6px $primary-color-alpha;
  width: 320px;
  height: 500px;
  margin: 50px;

  &__image {
    width: 320px;
    height: 500px;
    object-fit: cover;
  }

  &__text {
    @include flex-container(column, flex-start, normal);
    position: absolute;
    box-shadow: inset 0 0 2px 2px $secondary-color;
    background-color: $base-color;
    width: 280px;
    bottom: -10%;
    right: -8%;

    h3 {
      text-align: center;
    }
  }
}
