@import "../../styles/variables";
@import "../../styles/mixins";

.Navbar {
  @include flex-container(row, flex-start, center, 40px, wrap);
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: $base-color;
  z-index: 1;

  ul {
    @include flex-container(row, flex-start, center, 30px, wrap);
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $base-color;
      }
    }
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .hamburger {
    position: fixed;
    top: 4%;
    right: 70px;
    color: $base-color;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
      color: $main-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}
