@import "../../styles/variables";
@import "../../styles/mixins";

.Navbar {
  @include flex-container(row, flex-start, center, 40px, wrap);

  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: $base-color;
  z-index: 1;
  // border: 2px solid blue;

  ul {
    @include flex-container(row, space-around, center, 50px, wrap);
    // width: 100%;
    padding: 0;
    list-style: none;

    li {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid $base-color;
      }
    }
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .hamburgerIcon {
    position: fixed;
    top: 7%;
    right: 10%;
    color: $base-color;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all ease $timeFast;

    &:hover {
      transform: scale(1.2);
    }
  }

  button {
    border: none;
    width: 100px;
    height: 30px;
    padding: 6px 12px;
    border-radius: 10px;

    font-weight: bold;
    cursor: pointer;
    transition: all 0.35s;

    &:hover {
      box-shadow: inset 0 0 2px 2px $secondary-color;
      border-radius: 0;
    }
  }
}

@media screen and (min-width: 821px) {
  .Navbar {
    .hamburgerIcon {
      display: none;
    }
  }
}

@media screen and (max-width: 821px) {
  .Navbar {
    @include flex-container(row, center, center, 20px);
    position: fixed;
    top: 3%;
    width: 100vw;
    height: 60px;
    background-color: $primary-color-alpha;

    .logo {
      position: fixed;
      top: 3%;
      left: 8%;
    }

    .homepageList {
      display: none;
    }

    button {
      position: fixed;
      top: 7%;
      left: calc(50% - 30px);
    }
  }
}
