.Navbar {
  padding: 20px 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  color: white;
  z-index: 1;

  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-weight: bold;
      cursor: pointer;

      &:hover {
        border-bottom: 1px solid white;
      }
    }
  }

  .Navbar__logo {
    width: 100px;
    height: 100px;
    color: white;
  }
}
