// Default
$black: #000000;
$white: #ffffff;

// Design System

// Colors
$main-color: #ff1d59;
$primary-color: #373737;
$secondary-color: #282828;
$primary-color-alpha: #37373759;

$base-color: #ffffff;
$base-color-alpha: #ffffff8d;

// Sizes
$general-margin: 0;
